/*SUBMENUS*/
canvas{
height:calc(1vh*15);width:calc(1vw*27);border:1px solid black;border-radius:calc(1vw*(3.1416*2)*4);background: #990000;
}
nav{ 
  box-sizing: border-box;
  width:40vw;
  height:calc(4em + 4vw);
}
nav > ul{
  box-sizing: border-box;
  height:calc(1em + 1vw);
  width:40vw;
  font-size: 3em;
}
nav > ul{
  overflow:hidden; 
  overflow-y:scroll;
}
ul{
  list-style: none;
} 
/*MENU PRINCIPAL*/
.menuPrincipal{
 width:calc(100vw / 1.5);background:#ff9911DE;display:grid;grid-template-rows:repeat(auto-fill, minmax(2em,1fr));font-size:calc(1em + 1vh);
}
.menuPrincipal > li:hover{
 background: #eeeeee33;
 border-radius: 10px;
 border:none;
}
/*ENCABEZDO*/
.encabezado{
display:grid;grid-template-columns:repeat(3,1fr);height:7vh;background:#ff9911;
}
.encabezado > p{
grid-column: 2 / span 3;
font-size:calc(2vh + 1vw);
}
.encabezado > img{
height:7vh;width:10vh;
}
/*div catalogo sistem*/
.catalogo_grid {
  width:100%;
  height:flex;
}
.catalogo_grid > nav {
  width:100%;
  height:calc(100% + 10vh);
}
.catalogo_grid > nav > ul {
  overflow:hidden; 
  overflow-y:scroll;
  margin:none;
  padding: none;
  padding-right: 4vh;
  padding-bottom: 10vh;
  padding-top: 5vh;
  width:100%;
  height:calc(4 * 10vh);
  display:grid;
  grid-template-columns: repeat( 2 , 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.catalogo_grid > nav > ul > li {
  width:100%;
  height:100%;
  text-align: left;
  padding:none;
}
.catalogo_grid > nav > ul > li > img{
  padding: none;
  margin:none;
  margin-top:2vh;
  width:90%;
  height:80%;
  border-radius: 20px;
}
.catalogo_grid > nav > ul > li > img:hover {
  width:80%; 
  height:70%;
  padding:5%;
}
.catalogo_grid > nav > button {
  grid-column: 1 / span 2;
  background: #EEEEEE88;
  width:100%;
  font-size: 1.2em; 
  border:none;
}
.catalogo_grid > footer{
  width:100%;
  font-size:calc(1em + 1vw);
  text-align: center;
  margin:none;
}
.catalogo_grid > footer > button {
  margin: none;
  margin-right: 10%;
  margin-left: 10%;
  background: #eeeeeed8;
  font-size: 1.1em; 
  border:none;
  border-radius:15px;
} 
/*Fonts*/ 
#list_fetch > li{
color:white; 
background-color: #00000088;
text-align: center;  
border:none;
}
#list_fetch > li:hover{
background-color: #444444;
} 
#list_size > li{
color:white; 
background-color: #00000088;
text-align: center;  
border:none;
}
#list_size > li:hover{
background-color: #444444;
} 
/*______________NEW ELEMEMTS_________________*/
.imageNew{
  width:30%;
  height:50%;
  margin-left: 10%; 
  border:none;
  border-radius: 10px;
}