/*SUBMENUS*/
canvas{
height:calc(1vh*15);width:calc(1vw*27);border:1px solid black;border-radius:calc(1vw*(3.1416*2)*4);background: #990000;
}
nav{ 
  box-sizing: border-box;
  width:40vw;
  height:calc(4em + 4vw);
}
nav > ul{
  box-sizing: border-box;
  height:calc(1em + 1vw);
  width:40vw;
  font-size: 3em;
}
nav > ul{
  overflow:hidden; 
  overflow-y:scroll;
}
ul{
  list-style: none;
} 
/*MENU PRINCIPAL*/
.menuPrincipal{ 
 width:calc(100vw / 1.5);
 background:#ff9911DE;
 display:grid;
 grid-template-rows:repeat(auto-fill, minmax(2em,1fr));
 font-size:calc(1em + 1vh);  
}
.menuPrincipal > li:hover{
 background: #eeeeee33;
 border-radius: 10px;
 border:none;
}
/*ENCABEZDO*/
.encabezado{
display:grid;grid-template-columns:repeat(3,1fr);height:7vh;background:#ff9911;
}
.encabezado > p{
grid-column: 2 / span 3;
font-size:calc(2vh + 1vw);
}
.encabezado > img{
height:7vh;width:10vh;
}
/*div catalogo sistem*/
.catalogo_grid {
  width:100%;
  height:flex;
}
.catalogo_grid > nav {
  width:100%;
  padding-left:5%;
  padding-right:4%;
  height:calc(100% + 10vh);
}
.catalogo_grid > nav > ul {
  overflow:hidden; 
  overflow-y:scroll;
  margin:none;
  padding: none;
  padding-right: 4vh;
  padding-bottom: 10vh;
  padding-top: 5vh;
  width:100%;
  height:calc(4 * 10vh);
  display:grid;
  grid-template-columns: repeat( 2 , 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.catalogo_grid > nav > ul > li {
  width:100%;
  height:100%;
  text-align: left;
  padding:none;
}
.catalogo_grid > nav > ul > li > img{
  padding: none;
  margin:none;
  margin-top:2vh;
  width:90%;
  height:80%;
  border-radius: 20px;
}
.catalogo_grid > nav > ul > li > img:hover {
  width:80%; 
  height:70%;
  padding:5%;
}
.catalogo_grid > nav > button {
  grid-column: 1 / span 2;
  background: #EEEEEE88;
  width:100%;
  font-size: 1.2em; 
  border:none;
}
.catalogo_grid > footer{
  width:100%;
  font-size:calc(1em + 1vw);
  text-align: center;
  margin:none;
}
.catalogo_grid > footer > button {
  margin: none;
  margin-right: 10%;
  margin-left: 10%;
  background: #eeeeeed8;
  font-size: 1.1em; 
  border:none;
  border-radius:15px;
} 
/*Fonts*/ 
#list_fetch > li{
color:white; 
background-color: #00000088;
text-align: center;  
border:none;
}
#list_fetch > li:hover{
background-color: #444444;
} 
#list_size > li{
color:white; 
background-color: #00000088;
text-align: center;  
border:none;
}
#list_size > li:hover{
background-color: #444444;
} 
/*______________NEW ELEMEMTS_________________*/
.imageNew{
  width:30%;
  height:50%;
  margin-left: 10%; 
  border:none;
  border-radius: 10px;
}
/*______________DATOS COMPRA_________________*/
.email{
  font-family: Tahoma;
  font-size:calc(1em + .5vh); 
  text-align: justify; 
  color:#000000; 
  margin-left: 5%;
  border:none;
}
.metodo{
  font-family: Tahoma;
  font-size:calc(1em + .5vh);
  text-align: center; 
  background-color:#00000000; 
  margin-left: calc(100vw/3);
  margin-bottom: 10%;
  border:none;
}
#email{ 
  width: 90%; 
}
#intoEmail{
  border-bottom:1px solid grey;
  margin-top: 8%;
  margin-bottom: 5%;
  width:90%;
  height:2em; 
  background: #ff9911;
}
#comment{
  width: 90%;
}
#intoComment{ 
  border-bottom:1px solid grey;
  margin-top: 8%;
  margin-bottom: 5%;
  width:90%;
  background: #ff9911;
}
#intoComment:hover{ 
  height: 10em; 
} 
.ocul{
  display: none;
} 
/*____________________ABOUT US_______________*/
body{
  background: #ff9911DE;
} 
.aboutUs{
  box-sizing:border-box;
  width:100%;
  height:65vh;
  overflow:hidden;
  overflow-y:scroll;
  text-align: justify;
  font-family: Trebuchet MS;
  font-size:calc(.8em + .4vh);
  padding-left: 10%;
  padding-right: 10%;
} 
.pie{ 
  display:grid; 
  grid-template-columns: repeat( 2 , 1fr);
  height: flex;
  background-color: #ff9911ba;
} 
.pie > img{ 
  box-sizing: border-box;
  border-radius: 100%;
  width:60%;
  height:90%;
} 
.pie > p{ 
  text-align: right;
  font-family: Consolas;
  color:black; 
  padding-right: 10%; 
  font-size: calc(.2em + 1vh);
}
.pie > p > ul > li{ 
  box-sizing: border-box; 
  border-radius: 20px; 
  background: #ffbb11ee;
  margin-bottom: 10px;
  font-family: Consolas;
  text-align: center;
  color:#000000;
}
/*_________________ANIMACIONES_______________*/
.container{ 
  box-sizing: border-box;
  margin-left:25%; 
  border-top:10px solid #ffcc99; 
  border-radius: 100%;
  text-align:center; 
  height:25vh;
  width:45vw;
  animation-name: girar; 
  animation-duration: 1000ms; 
  animation-iteration-count: infinite;
} 
.containerC{ 
  box-sizing: border-box;
  width: 100%; 
  height:100%;
  padding:5%;
  background: #bbbbbb55; 
}
@keyframes girar{
  0%{
  transform:rotate(0deg) 
  } 
  50%{
  border-top:1px solid #ffbb00;
  }
  100%{ 
  transform:rotate(360deg)  
  } 
}